# Server Configuration | Configuración del servidor
PORT=3000
NODE_ENV=development

# Database | Base de datos
MONGODB_URI=mongodb://localhost:27017/devjobs

# Security | Seguridad
SECRETO=tu-secreto-aqui
KEY=tu-key-aqui

# Email | Correo electrónico
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=tu-email-user
EMAIL_PASS=tu-email-pass